@media screen and (max-width: 1900px) {
    .container {
		width: 1140px;

        /* background-color: red; */
	}

    .video-about {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .container {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1200px) {
    .container {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1199px) {
    .container {
		width: 960px;
	
        /* background-color: green; */
    }

    .video-about {
        grid-template-columns: repeat(3, 1fr);
    }
    #canvas__btn {
        display: none;
        bottom: 55px;
    }
    .banner__wrapper  {
        position: absolute;
        bottom: 94px;
    
        height: 70%;
    }
    .banner__about {
        bottom: -50px;
        width: 100%;
    }
    .video__item {
        max-width: none;
    }
    .link__video {
        display: grid;
    }
}

@media screen and (max-width: 991px) {
    .container {
		width: 720px;

        /* background-color: purple; */
	}

    .search-form {
        width: 100%;
    }
    .video-about {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .container {
		width: 540px;

        /* background-color: orange; */
	}
    .header__form {
        position: absolute;
        right: 0;

        /* width: 100%; */
    }
    .search-form {
        /* width: min-content; */
        
        margin: 0;
        margin-left: auto;
        
        width: 92px;
        justify-content: center;
        /* overflow: hidden; */
    }
    .search-form__options {
        max-width: 100%;
    }
    .header-right-bar__link:not(.header-right-bar__avatar, .header-right-bar__search) {
        display: none;
    }
    .header-right-bar__search {
        display: block;
    }
    .header-right-bar {
        margin-left: auto;
    }
    .banner__video-info {
        flex-wrap: wrap;
    }
    .canvas__btn-wrapper::after {
        width: 330px;
    }
    .video-about {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }
    .video__item {
        max-width: none;
    }
    .video-img {
        max-width: 100%;
    }
    .banner__wrapper {
        height: 40%;
    }
}

@media screen and (max-width: 575px) {
    .container {
		padding: 0 10px;
		width: 90%;

        /* background-color: pink; */
	}
    .search-form {
        width: 45px;

        padding: 5px 10px;
    }
    .header__input-voice {
        margin-left: 5px;
    }
    .canvas__btn-wrapper {
        flex-direction: column;
    }
    /* .banner__wrapper {
        top: 50%;
        flex-direction: column;
    } */
    .banner__wrapper {
        display: none;

        bottom: 153px;
        left: 51px;

        height: 30%;
    }
    .canvas-decor__span-6,
    .canvas-decor__span-7,
    .canvas-decor__span-8 {
        display: none;
    }
    .video-about {
        display: block;
    }
    .video__item:not(:last-child) {
        margin-bottom: 30px;
    }
    .canvas__btn-wrapper::after {
       display: none;
    }
    .banner__video-info {
        margin-top: 15px;
        margin-left: 5px;

        flex-wrap: wrap;
    }
    .banner__video-name {
        width: 100%;
    }
}