
/* SLICK SLIDER */
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
    display: flex;
    align-items: center;
}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slider-nav .slick-track {}
.slick-track {}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    margin-right: 20px;
    background: url('../img/arrow.svg') no-repeat center top/cover;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    margin-left: 20px;
    background: url('../img/arrow.svg') no-repeat center top/cover;
    transform: rotate(180deg);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}




.section {
}
.banner {
}
.banner__content {
    position: relative;
}
.banner__info {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, rgba(6,6,6,1) 30%, rgba(0,212,255,0) 80%);

    text-transform: uppercase;

    transition: all .8s ease;
}
.banner__inner {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 95%;
    height: 100%;
}
.banner__title {
    margin-top: 20px;
    text-transform: uppercase;

    transition: all .3s ease;
}
.banner__wrapper {
    position: relative;

    display: flex;

    margin-top: auto;
    /* margin-bottom: 20px; */

    height: 100%;
}
.canvas__btn-wrapper {
    position: relative;

    display: flex;
    align-items: center;

    margin-top: auto;
    margin-bottom: 25px;
}
.canvas-decor {
    display: flex;
} 
.canvas-decor__span {
    position: absolute;
    bottom: 0;

    display: block;

    width: 1px;
    /* height: 100%; */

    opacity: 0.5;

    background-color: var(--color-button-border);
    transform-origin: 100% 100%;

    transition: all .8s ease;
}
.canvas-decor__span-1 {
    bottom: -10px;

    height: 45%;
}
.canvas-decor__span-2 {
    margin-left: 35px;
    height: 60%;
    transform: skewX(-10deg);
}
.canvas-decor__span-3 {
    margin-left: 63px;
    height: 30%;
    transform: skewX(-25deg);
}
.canvas-decor__span-4 {
    margin-left: 110px;
    height: 60%;
    transform: skewX(-30deg);
}
.canvas-decor__span-5 {
    margin-left: 160px;
    height: 75%;
    transform: skewX(-38deg);
}
.canvas-decor__span-6 {
    margin-left: 210px;
    height: 41%;
    transform: skewX(-53deg);
}
.canvas-decor__span-7 {
    bottom: -10px;

    margin-left: 219px;
    height: 59%;
    transform: skewX(-64deg);
}
.canvas-decor__span-8 {
    bottom: -68px;
    
    margin-left: 210px;
    height: 160%;
    transform: rotate(90deg);
}
/* .canvas-decor__span--hide {
    height: 0;
} */
/* .canvas__btn-wrapper::after {
    content: '';

    position: absolute;
    bottom: 0;

    display: inline-block;
    
    margin-left: 15px;

    width: 40%;
    height: 1px;

    opacity: 0.5;

    background-color: var(--color-button-border);

    transition: all .5s ease;
} */
#canvas__btn {
    position: absolute;
    bottom: 75px;
    opacity: 0.5;
}
.banner__btn {
    position: relative;
    z-index: 2;

    padding: 15px 60px;

    color: #fff;
    font-size: 30px;
    font-weight: 400;

    border: 1px solid var(--color-button-border);
    border-radius: 10px;

    transition: all .5s ease;

    text-transform: uppercase;
}
.banner__btn:hover {
    background-color: var(--bg-button-hover);
}
.banner__video-info {
    display: flex;
    align-items: center;

    margin-left: 40px;

    transition: all .3s ease;
}
.video-info__item {
    margin-left: 5px;

    display: flex;
    align-items: center;
}
.video-info__item::before {
    content: '';

    display: block;

    margin-right: 5px;

    width: 5px;
    height: 5px;

    background-color: var(--bg-color-revers);

    border-radius: 50%;
}
.banner__video-name {
}
.banner__bg {
}
.slider-nav {
    transition: all .8s ease;
}
.banner__bg::before {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0,0,0,0.9) 30%, rgba(0,212,255,0) 94%);

    z-index: 1;
}
.slider-for {
}
.slider-for__img {
    max-height: 450px;
}
.slider-for__img img {
    width: 100%;
}
.banner__about {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 50%;
    z-index: 2;
}
/* .banner__item .slick-slide {
    width: 250px;
}
.banner__about .slider-nav {
    display: flex;
} */
.slick-list.draggable {
    /* padding: 0px 70px !important; */
}
.slick-slide img {
    width: 100%;
    height: 100%;
}
.banner__item {
    border-radius: 10px;
    overflow: hidden;
}
.banner__item:not(:last-child) {
    margin-right: 15px;
}
.banner__img {
    max-height: 70px;
    border-radius: 15px;
    overflow: hidden;
}