.video-content {
    margin-top: 25px;
    padding-bottom: 60px;
}
.video-about {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 15px;

    margin-bottom: 25px;
}

.video__title {
    margin-bottom: 25px;

    text-transform: capitalize;
}
.video-content__item:not(:first-child) {
    margin-top: 35px;
}
.video-content__item:not(:last-child):after {
    content: '';

    display: block;

    width: 100%;
    height: 2px;

    background-color: var(--bg-color-revers);
}
.video__item {
    /* width: min-content; */
    /* max-width: min-content; */
}
.link__video {
    /* margin-bottom: 10px; */
}
.link__video img {
    width: 100%;
    height: 100%;
}
.video-img {
    max-width: 345px;
    max-height: 175px;

    border-radius: 10px;
    overflow: hidden;
}
.video-about__video-wrapper {
    display: flex;

    margin-top: 10px;
}
.channel__link {
    margin-right: 10px;

    width: 45px;
    height: 45px;

    border-radius: 50%;
    overflow: hidden;
}
.channel__link img {
}
.video-about__video-innter {
    width: fit-content;
}
.name-video__link {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 16px;

    color: #fff;
}
.channel-name__link {
    margin-top: 5px;

    max-width: fit-content;

    font-size: 13px;

    color: #fff;
}
.video-content__info-wrapper {
    display: flex;
}
.video-content__info {
    margin-top: 5px;

    font-size: 13px;
    color: var(--color-video-info);
}
.video-content__info:not(:last-child) {
    margin-right: 15px;
}
.video-content__number-views {
}
.video-content__metadata {
}