.header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;

    background-color: var(--bg-color);
}
.header__burger {
    margin-right: 25px;
}
.container {
}
.nav {
    display: flex;

    align-items: center;

    padding-top: 35px;
    padding-bottom: 20px;
}

.burger {
    position: relative;
    cursor: pointer;
}

.burger:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 35px #fff;
    display: none;
}

.burger.click:after {
    animation: animateClickBurger 0.6s ease-out forwards;
    display: block;
}

.burger:hover .burger__span {
    background-color: var(--bg-color-element);
}
.burger__span {
    display: block;

    width: 20px;
    height: 1px;

    background-color: var(--color-text);

    transition: all .3s ease;
}
.burger__span:not(:last-child) {
    margin-bottom: 3px;
}

/* left-bar */
.left-bar {
    position: absolute;

    top: 100px;
    left: 0;

    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 100px;

    max-width: 350px;
    /* max-height: 90vh; */
    height: 100vh;

    background-color: var(--bg-color);
    text-transform: capitalize;

    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease;

    overflow: auto;
}
.left-bar__menu {
    width: 200px;
}
.left-bar__menu:last-child {
    padding-bottom: 50px;
}
.left-bar__title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 600;
}
.left-bar__menu:not(:last-child)::after {
    content: '';

    display: block;

    margin: 35px 0;

    width: 100%;
    height: 1px;

    background-color: var(--bg-color-revers);
}
.left-bar__item {
}
.left-bar__item:not(:last-child) {
    margin-bottom: 20px;
}
.left-bar__link {
    display: flex;
    align-items: center;
}
.left-bar__icon {
    margin-right: 10px;

    max-width: 26px;
    max-height: 26px;
}
.left-bar__icon path, .left-bar__text {
    transition: all .5s ease;
}
.left-bar__avatar {
    margin-right: 10px;

    max-width: 35px;
    max-height: 35px;
    
    border-radius: 50%;
    overflow: hidden;
}
.left-bar__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    color: var(--color-text);
}
.left-bar__link:hover .left-bar__icon path,
.left-bar__link:hover .left-bar__text {
    color: var(--color-text-hover);
    stroke: var(--color-stroke-svg-hover);
}
.left-bar__link:hover .left-bar__icon--not-hover path {
    stroke: none;
}
.left-bar.show-bar {
    opacity: 1;
    transform: translateX(0);
}

.logo {
   display: flex;
   align-items: center;

   color: #fff;
}
.logo__svg {
    margin-right: 5px;

    max-width: 30px;
    max-height: 30px;
}
.logo__name {
    font-size: 25px;
}
.header__form {
    display: flex;

    margin: 0 auto;
}
.search-form {
    position: relative;

    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 5px 30px;

    width: 400px;

    border-radius: 50px;
    border: 0.5px solid var(--bg-color-border);
}
.search-form__input {
    width: 100%;
    color: var(--color-text);
}
.search-form__btn {
    position: relative;

    padding: 3px;
}
.search-form__btn::after {
    content: '';
    display: block;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;

    opacity: 0;

    border-radius: 50px;

    background: rgba(217, 217, 217, 0.10);

    transition: all .3s ease;
}
.search-form__btn:hover::after {
    opacity: 1;
}
.search-form__svg {
    display: block;
}

.search-form__options {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 2;

    display: none;
    padding: 15px 25px;

    width: max-content;

    border-radius: 10px;
    background: linear-gradient(180deg, #000 -39.51%, #6486DB 445.8%);
}
.search-form__item {

}
.search-form__item:not(:last-child) {
    margin-bottom: 15px;
}
.search-form__link {
    padding: 2px 0;

    font-size: 16px;

    transition: all .5s ease;
}
.search-form__link:hover {
    opacity: 0.5;
}

.input-voice {
    padding: 13px 16px;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.10);

    transition: all .5s ease;
}
.input-voice:hover {
    background: rgba(217, 217, 217, 0.20);
}
.header__input-voice {
    margin-left: 25px;
}
.input-voice__svg {
    display: block;
}
.header-right-bar {
    display: flex;
    align-items: center;
}
.header-right-bar__link {
    position: relative;
}
.header-right-bar__link:not(:last-child) {
    margin-right: 30px;
}

.right-bar__menu {
}
.right-bar__menu-bell {
}
.right-bar__item {
    transition: all .5s ease;
}
.right-bar__menu-bell .right-bar__item:hover {
    opacity: 0.5;
}
.right-bar__link-item {
    display: flex;
    align-items: center;
}
.right-bar__menu-title {
    margin-bottom: 10px;

    font-size: 13px;
}
.right-bar__menu-title:not(:first-child) {
    margin-top: 30px;
}
.right-bar__img-channel {
    margin-right: 10px;

    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;

    overflow: hidden;
}
.right-bar__name-video {
    margin-right: 20px;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-width: 125px;
    min-width: 125px;
    text-wrap: wrap;

    font-size: 13px;
}
.right-bar__video-preview {
    max-width: 125px;
    max-height: 70px;
}
.header-right-bar__svg {
    
}

.header-right-bar__svg path {
    transition: all .5s ease;
}
.header-right-bar__svg:hover path {
    stroke: var(--color-stroke-svg-hover);
}
.header-right-bar__img {
    max-width: 30px;
    max-height: 30px;

    border-radius: 50%;
}
.right-bar__menu {
    position: absolute;
    right: 0;

    padding: 15px 20px;

    border-radius: 10px;
    background: linear-gradient(180deg, #000 -36.8%, #6486DB 444.84%);
}
.right-bar-avatar {
    display: none;

    padding: 20px 0;

    width: max-content;
}
.right-bar-avatar__item {
}
.right-bar-avatar__item:not(:last-child):after {
    content: '';

    display: block;

    margin: 15px 0;

    width: 100%;
    height: 1px;

    background-color: var(--bg-color-revers);
}
.right-bar-avatar__link {
    display: flex;
    align-items: center;

    margin: 0 25px;

    transition: all .5s ease;
}
.right-bar-avatar__link:not(:last-child) {
    margin-bottom: 10px;
}
.right-bar-avatar__link:hover {
    opacity: 0.5;
}
.right-bar-avatar__account {
    display: flex;
    align-items: center;
}
.right-bar-avatar__img {
    margin-right: 15px;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    overflow: hidden;
}
.right-bar-avatar__inner {
}
.right-bar-avatar__name {
    margin-bottom: 3px;

    font-size: 15px;
}
.right-bar-avatar__email {
    font-size: 13px;

    opacity: 0.8;
}
.right-bar-avatar__icon {
    margin-right: 10px;

    /* width: 20px;
    height: 20px; */
}
.right-bar-avatar__icon svg {
    /* min-width: 100%;
    min-height: 100%; */
    width: 20px;
    height: 20px;
}
.right-bar-avatar__text {
    opacity: 0.8;
}
.right-bar__menu-video {
    display: none;
}
.right-bar__menu-bell {
    display: none;
}
.right-bar__item {
    text-wrap: nowrap;
}
.right-bar__link {
    display: flex;
    align-items: center;

    transition: all .5s ease;
}
.right-bar__link path {
    transition: all .5s ease;
}
.right-bar__link:hover {
    color: var(--color-text-hover);
}
.right-bar__link:hover path {
    stroke: var(--color-text-hover);
}
.right-bar__svg {
    margin-right: 10px;
}
.right-bar__item:not(:last-child) {
    margin-bottom: 15px;
}
.header-right-bar__search {
    display: none;
}