/* fonts */
@import url(https://fonts.googleapis.com/css?family=Jura:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* next import */

@import url('normalize.css');
@import url('header.css');
@import url('banner.css');

:root {
    /* main */
    --bg-color: #000;
    --bg-color-revers: #fff;
    --color-text: #fff;
    --color-text-hover: #6486DB;

    /* button */
    --bg-button: var(--bg-color);
    --bg-button-hover: #6486DB;
    --color-text-button-hover: #000;
    --color-button-border: #6486DB;

    --bg-color-border: #ACACAC;
    
    /* svg path */
    --color-stroke-icon: #fff;
    --color-stroke-svg-hover: var(--color-text-hover);
    --bg-color-element: #6486DB;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    border-left: 2px solid var(--bg-button);
}
::-webkit-scrollbar-thumb {
    background-color: #6486DB;
    border-radius: 10px;
}

body {
    position: relative;

    font-family: 'Jura', 'Inter';
    font-size: 18px;
    color: #fff;
    background-color: var(--bg-color);
}

.container {
    margin: 0 auto;
    max-width: 95%;
}
main {
    position: relative;
    z-index: 1;

    padding-top: 100px;

    overflow: hidden;
}

svg {

}
path {
    /* stroke: var(--color-stroke-icon); */
}

/* Animation when pressed */
@keyframes animateClickBurger {
    0% {
        opacity: 1;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    80% {
        box-shadow: inset 0 0 0 2px var(--color-text-hover);
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 0 2px var(--color-text-hover);
    }
}