* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 25px 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}
iframe {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.main {
    padding-top: 120px;
}

.section {
}

.section__item {
}

.section__item:first-child {
    width: 100%;
}

.section-wrapper{
    display: flex;
    justify-content: space-between;
}

.section__video {
    /* aspect-ratio: 16 / 9; */
    width: 80%;

    max-height: 609px;
    height: 609px;
    
    border-radius: 12px;
    overflow: hidden;

    /* background: url(img/TheEqualizer3.jpg) no-repeat center /cover; */
}
.section_FromChanel{
    width: 344px;
    height: 609px;
    border-radius: 10px;
    background: var(--gradient-blue, linear-gradient(180deg, #6486DB -19.87%, #090909 100%));
}

.section__info{
}

.section__name-video {
    margin-top: 12px;
    margin-bottom: 25px;

    font-size: 1.1em;
}

.section__metadata {
    display: flex;
}

.metadata__item {
    display: flex;
    align-items: center;
}

.metadata__item:nth-child(2) {
    margin-right: auto;
    margin-left: 25px;
}

.metadata__img {
    margin-right: 12px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
}
.metadata__info-channel {
    margin-right: 24px;
}
.name-channel {
    font-weight: bold;
}
.subscribers-channel {
    color: #AAA;
    font-size: 0.8em;
}
.btn-subscribers {
    display: block;
    padding: 10px 16px;

    border: none;
    color: var(--color-text);
    border-radius: 18px;
    background-color: var(--bg-button);
    border: 1px solid var(--bg-button-hover);

    transition: all .5s;
    cursor: pointer;
}
.btn-subscribers:hover {
    color: var(--color-text-button-hover);
    background-color: var(--bg-button-hover);
}
.metadata-review {
    position: relative;

    display: flex;
    align-items: center;

    width: max-content;

    
    overflow: hidden;

    margin-left: 25px;
}

.metadata-review img {
    max-width: 24px;
}
.btn-metadata-review {
    position: relative;
    display: flex;
    align-items: center;

    padding: 6px 10px;
    border-radius: 18px;
    transition: all .5s;
}
.btn-metadata-review:hover {
    background-color: var(--bg-button-hover);
}

.metadata-review__like {
}

.metadata-review__like svg {
    margin-right: 10px;
}

.metadata-review__forward{

}

.metadata-review__forward svg {
    margin-right: 10px;
}

.metadata-review__add{

}

.metadata-review__add svg {
    margin-right: 10px;
}

.metadata-review__more{

}

.metadata-review__more svg {
    margin-left: 10px;
}

.text-btn {
    color: var(--color-text);
}

.secction__description {
    width: 1451px;
    height: 102px;
 
    background: var(--gradient-2, linear-gradient(121deg, #090909 35.91%, #6486DB 254.73%));

}
.description {
    margin-top: 12px;
    padding: 12px;

    font-size: 0.9em;
    line-height: 1.5em;

    border-radius: 12px;
    min-width: 100%
   
}
.description__text {
}

.section__content-wrapper{
    display: flex; 
    margin: 10px 0 10px 0; 
    justify-content: space-between;
}

